{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block content %}
		 <div class="container">
                <div class="col-md-4">
                  <div class="service-features">
                  <div class="img-container">
                    <img src="{% static 'images/paperplane.png' %}" alt="Service Features">
                  </div>
                    <h3>Helpful</h3>
                    <p> Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.</p>
                  </div>
                </div><!-- END ONE THIRD COLUMN -->

                <div class="col-md-4">
                  <div class="service-features service-features2">
                  <div class="img-container">
                    <img src="{% static 'images/lab.png' %}" alt="Service Features">
                  </div>

                    <h3>Dedicated</h3>
                    <p> Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.</p>
                  </div>

                </div><!-- END ONE THIRD COLUMNS -->

                <div class="col-md-4">
                  <div class="service-features">
                  <div class="img-container">
                    <img src="{% static 'images/like.png' %}" alt="Service Features">
                  </div>
                    <h3>Perfect People</h3>
                    <p> Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.</p>
                  </div>

                </div><!-- END ONE THIRD COLUMNS -->




            </div><!-- END ROW -->

			<section class="work-block">
		        <div class="container">
		          <div class="row">
		            <div class="col-md-12">
		              <div class="col-md-4 col-xs-12 col-sm-12">
		                <div class="box-img">
		                    <img src="{% static 'img/1.jpg' %}"  width="100%" alt="" />
                            <h3 class="titleimg-card">Life Survivors</h3>
                            <p class="img-card">A family from Southern Africa needs your help.A family from Southern Africa needs your help.A family from Southern Africa needs your help.</p>
		                  </div>
		                 </div>
		               <div class="col-md-4 col-xs-12 col-sm-12">
                        <div class="box-img">
                            <img src="{% static 'img/2.jpg' %}"  width="100%" alt="" />
                            <h3 class="titleimg-card">Challenge Takers</h3>
                            <p class="img-card">A family from Southern Africa needs your help.A family from Southern Africa needs your help.A family from Southern Africa needs your help.</p>
                          </div>
                         </div>
		                 <div class="col-md-4 col-xs-12 col-sm-12">
		                    <div class="box-img">
		                        <img src="{% static 'img/3.jpg' %}" width="100%" alt="" />
                            <h3 class="titleimg-card">Life at a stake</h3>
                            <p class="img-card">A family from Southern Africa needs your help.A family from Southern Africa needs your help.A family from Southern Africa needs your help.</p>
		                    </div>
		                 </div>
		               </div>
		          </div>
		        </div>

		   </section>



    <!-- Place in the <head>, after the three links -->
    <script>
     $('.testimonials-slider').bxSlider({
      slideWidth: 800,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 32,
      auto: true,
      autoControls: true
      });
    </script>
        <script type="text/javascript">
        </script>

{% endblock content %}