{% extends 'base.html' %}
{% load static %}
{% block title %}| Gallery{% endblock title %}
{% block content %}
        <section id="clients">

    <!-- Team Inner -->
          <div class="inner team">

      <!-- Header -->
    

      <!-- Members -->
      <div class="team-members inner-details">
        {% for gal in gallery %}
        <!-- Member -->
        <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
          <div class="member-inner">
            <!-- Team Member Image -->
            <a class="team-image">
              <!-- Img -->
              <img src="{{ gal.image.url }}" alt="" />
            </a>
            <div class="member-details">
              <div class="member-details-inner">
                <!-- Name -->
                <h2 class="member-name light">{{ gal.title }}</h2>
                <!-- Description -->
                <p class="member-description">{{ gal.about }}</p>
              </div> <!-- End Detail Inner -->
            </div><!-- End Details -->
          </div> <!-- End Member Inner -->
        </div><!-- End Member -->

          {% endfor %}




      </div><!-- End Members -->
    </div><!-- End Team Inner -->
  </section><!-- End Team Section -->

    <script>
     $('.testimonials-slider').bxSlider({
      slideWidth: 800,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 32,
      auto: true,
      autoControls: true
      });
    </script>
    <script type="text/javascript">
    </script>
{% endblock content %}
