{% extends 'base.html' %}
{% load static %}
{% block title %}| Our Team{% endblock title %}
{% block content %}

    <div class="divider col-sm-12 col-xs-12 col-md-12">
        <div class="header-text"> Our <span>Team</span></div>
    </div>

    <section id="team">
      <div class="bg-white">
        <div class="inner-container overlay-light row-of-columns">

         <!-- team members -->
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="team-members row">
                <div class="col-md-3 col-sm-6 wow animated-longer-delay-2 fadeInDown ">
                  <div class="panel">
                    <div class="panel-body">
                      <div class="col-xs-12">
                        <div class="avatar-team-member effects-container effects-enlarge">
                            <a href="#">
                            <img src="{% static 'img/donor_01.jpg' %}" alt="image">
                            </a>
                        </div>
                      </div>
                            <h3>Jake Smith</h3>
                            <h4>Executive Vice President </h4>
                            <p> Jake suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo. </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
    <div class="col-md-3 col-sm-6 wow animated-longer-delay-3 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_02.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Marissa Swanson</h3>
                            <h4>Chief Executive Officer </h4>
                            <p> Leo suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo.  </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
    <div class="col-md-3 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_03.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Leo Recevuer</h3>
                            <h4>Senior Vice President </h4>
                            <p> Leo suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo. </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
    <div class="col-md-3 col-sm-6 wow animated-longer-delay-5 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_04.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Nigel Doe</h3>
                            <h4>Vice President</h4>
                            <p>Nigel suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo. </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-members row">
                <div class="col-md-3 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_05.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Shasta Carter</h3>
                            <h4>Chief of Staff</h4>
                            <p>Shasta suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo. </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_07.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Leonor Suaza</h3>
                            <h4> Director International Program</h4>
                            <p> Leonor suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo.</p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_11.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Joanna Verala</h3>
                            <h4>Chief Information Officer</h4>
                            <p>Joanna suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac convallis justo.</p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                  <div class="panel">
                      <div class="panel-body">
                              <div class="col-xs-12">
                                <div class="avatar-team-member">
                                    <img src="{% static 'img/donor_10.jpg' %}" alt="image">
                                </div>
                              </div>
                            <h3>Ben Bradford</h3>
                            <h4>Vice President Advocacy</h4>
                            <p>Ben suspendisse eu enim maximus, porta enim nec, bibendum justo. Vivamus placerat accumsan ipsum. Morbi at ipsum consectetur pretium nisi ac, convallis justo. </p>
                            <div class="text-center">
                              <ul class="list-unstyled list-inline list-social-sq-primary">
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
       </div><!-- / end team members -->
    </div><!-- / end inner container-->
    </div><!-- / end background color wrapper-->
  </section><!--=== / END meet the team ===-->

    <script>
     $('.testimonials-slider').bxSlider({
      slideWidth: 800,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 32,
      auto: true,
      autoControls: true
      });
    </script>
    <script type="text/javascript">
    </script>
{% endblock content %}
